{{#bs-dropdown as |dd|}}
    
    {{#if assignedUsername}}
      {{#dd.button type="primary" class="btn-sm"}}
        {{assignedUsername}}
        <span class="caret"></span>
      {{/dd.button}}
    {{else}}
      {{#dd.button class="btn-sm"}}
        Ingen
        <span class="caret"></span>
      {{/dd.button}}
    {{/if}}
    <span class="caret"></span>

  {{#dd.menu as |ddm|}}
    {{#unless assignedUserIsLoggedInUser}}
      {{#ddm.item}}
        <a
          class="dropdown-item"
          href="javascript:void(0)"
          {{action (perform setOrderAssignedUser orderId loggedInUserId)}}
        >
          {{loggedInUsername}}
        </a>
      {{/ddm.item}}
    {{/unless}}
    {{#if assignedUserId}}
      {{#ddm.item}}
        <a
          class="dropdown-item"
          href="javascript:void(0)"
          {{action (perform setOrderAssignedUser orderId null)}}
        >
          Släpp order
        </a>
      {{/ddm.item}}
    {{/if}}
  {{/dd.menu}}
{{/bs-dropdown}}
<div class="ml-2 spinner{{if setOrderAssignedUser.isRunning " loading"}}">
  <i class="fas fa-spinner fa-spin"></i>
</div>
