{{#bs-modal
  open=open
  onHide=(action (mut open) false)
  onHidden=(action "resetState")
    as |modal|
}}
  {{#modal.header}}
    <h4 class="modal-title">{{title}}</h4>
  {{/modal.header}}
  {{#with (changeset loggedInUser) as |changeset|}}
    {{#modal.body}}
		{{#bs-form
			model=changeset
			formLayout="vertical"
			class="user-details-form"
			onSubmit=(action "onSubmit" changeset)
		as |form|
		}}
			{{form.element
	          label="xkonto"
	          controlType="text"
	          property="xkonto"
	          readonly=true
	        }}
			{{form.element
	          label="Namn"
	          controlType="text"
	          property="name"
	        }}
	        {{#form.element
	          label="Handl채ggningsgrupp"
	          controlType="power-select"
	          options=managingGroups
	          disabled=(if changeset.pickupLocationId  true)
	          value=(find-by "value" changeset.managingGroupId managingGroups)
	          onChange=(action (mut changeset.managingGroupId) value="value")
	        as |el|
	        }}
	        {{#el.control
	        	renderInPlace=true
                searchField="label"
                searchEnabled=true
                searchPlaceholder="Skriv handl채ggningsgrupp"
              as |option|
              }}
              	{{option.label}}
              {{/el.control}}
            {{/form.element}}
	        {{#form.element
	          label="Avh채mtningsbibliotek"
	          controlType="power-select"
	          options=pickupLocations
	          disabled=(if changeset.managingGroupId  true)
	          value=(find-by "value" changeset.pickupLocationId pickupLocations)
	          onChange=(action (mut changeset.pickupLocationId) value="value")
	        as |el|
	        }}
	        {{#el.control
	        	renderInPlace=true
                searchField="label"
                searchEnabled=true
                searchPlaceholder="Skriv avh채mtningsbibliotek"
              as |option|
              }}
              	{{option.label}}
              {{/el.control}}
            {{/form.element}}
		{{/bs-form}}
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button onClick=(action modal.close) type="secondary"}}Avbryt{{/bs-button}}
      {{#bs-button
        onClick=(action modal.submit)
        type="success"
        disabled=(or isSubmitting changeset.isInvalid)
      }}Skicka{{/bs-button}}
    {{/modal.footer}}
  {{/with}}
{{/bs-modal}}