<div class="row">
  <div class="col-12 pt-4">
    {{#bs-form
      model=this
      formLayout="vertical"
      class="orders-filters-form"
    as |form|}}
      <div class="row">
        <div class="col-6 col-sm-3 col-lg-2">
          {{#form.element
            label="Bibliotek"
            controlType="power-select"
            options=locationOptions
            value=(find-by "value" locationId locationOptions)
            onChange=(action (mut locationId) value="value")
          as |el|
          }}
            {{#el.control
              searchField="label"
              searchEnabled=true
              searchPlaceholder="Type your name"
            as |option|
            }}
              {{option.label}}
            {{/el.control}}
          {{/form.element}}
        </div>
        <div class="col-6 col-sm-3 col-lg-2">
          {{#form.element
            label="Statusgrupp"
            controlType="power-select"
            options=statusGroups
            value=(find-by "label" statusGroupLabel statusGroups)
            onChange=(action (mut statusGroupLabel) value="label")
          as |el|
          }}
            {{#el.control
              searchField="nameSv"
              searchEnabled=true
              searchPlaceholder="Type your name"
            as |statusGroup|
            }}
              {{statusGroup.nameSv}}
            {{/el.control}}
          {{/form.element}}
        </div>
        <div class="col-6 col-sm-3 col-lg-2">
          {{form.element
            label="Sök i fritext"
            controlType="text"
            value=searchTerms
            onChange=(action "setSearchTerms")
          }}
        </div>
        <div class="col-6 col-sm-3">
          {{#form.element
            label="Beställningstyp"
            controlType="power-select"
            options=orderTypeOptions
            value=(find-by "value" orderTypeId orderTypeOptions)
            onChange=(action (mut orderTypeId) value="value")
          as |el|
          }}
            {{#el.control
              searchField="label"
              searchEnabled=true
              searchPlaceholder="Type your name"
            as |option|
            }}
              {{option.label}}
            {{/el.control}}
          {{/form.element}}
        </div>
        <div class="col-12 col-lg-3  d-flex align-items-end mb-lg-2">
          {{form.element
            label="Mina ordrar"
            class="form-group"
            controlType="checkbox"
            value=myOrdersFilterActive
            onChange=(action "setMyOrders")
          }}
        </div>
        {{#liquid-if filtersExpanded class="col-12"}}
          <div class="row">
            <div class="col-6 col-lg-2">
              {{#form.element
                label="Leveransställe"
                controlType="power-select"
                options=deliverySourceOptions
                value=(find-by "value" deliverySourceLabel deliverySourceOptions)
                onChange=(action (mut deliverySourceLabel) value="value")
              as |el|
                }}
                {{#el.control
                  searchField="label"
                  searchEnabled=true
                  searchPlaceholder="Type your name"
                as |option|
                }}
                  {{option.label}}
                {{/el.control}}
              {{/form.element}}
            </div>
            <div class="col-6 col-lg-2">
              {{#form.element
                label="Arkiverade & Aktiva"
                controlType="power-select"
                options=isArchivedOptions
                value=(find-by "value" isArchivedOptionValue isArchivedOptions)
                onChange=(action (mut isArchivedOptionValue) value="value")
              as |el|
              }}
                {{#el.control
                  searchEnabled=false
                as |option|
                }}
                  {{option.label}}
                {{/el.control}}
              {{/form.element}}
            </div>
            <div class="col-12 col-lg-8 d-flex align-items-end  mb-lg-2">
              {{form.element
                label="Skall faktureras"
                class="form-group"
                controlType="checkbox"
                value=toBeInvoiced
                onChange=(action "setToBeInvoiced")
              }}
            </div>
          </div>
        {{/liquid-if}}
        <div class="col-12 mb-4">
          {{#bs-button onClick=(action "resetFilters")}}
            Återstall filter
          {{/bs-button}}
        </div>
      </div>
    {{/bs-form}}
  </div>
  <div class="col-12 d-flex justify-content-center border-top">
    {{#bs-button
      class="px-3"
      title=(if filtersExpanded "Dölj fler filter" "Visa fler filter")
      type="link"
      active=filtersExpanded
      onClick=(toggle "filtersExpanded" this)
    }}
      {{#if filtersExpanded}}
      <i class="fas fa-angle-up"></i>
      {{else}}
      <i class="fas fa-angle-down"></i>
      {{/if}}
    {{/bs-button}}
  </div>
</div>
{{#if filteredOrders.isFulfilled}}
  <div class="row">
    <div class="col-12">
      Fjärrkontrollen hittade <strong>{{filteredOrders.content.meta.query.total}}</strong> ordrar
    </div>
  </div>
  {{#if (gt filteredOrders.content.meta.pagination.pages 1)}}
    <div class="row">
      <div class="col-12">
        {{bs4-paginator
          navAreaLabelText="Orders pagination"
          previousText="Foregaende"
          nextText="Nasta"
          currentPage=filteredOrders.content.meta.pagination.page
          totalPages=filteredOrders.content.meta.pagination.pages
          currentPageItemsCount=3
          firstPageItemsCount=2
          lastPageItemsCount=2
          pageChanged=(action (mut currentPage))
        }}
        {{! TODO rename => onPageChange}}
      </div>
    </div>
  {{/if}}
{{/if}}
<div class="row">
  <div class="col-12 table-responsive-sm">
    {{#if filteredOrders.isFulfilled}}
      <table class="table table-striped table-sm">
        <thead>
          {{#sort-fields
            tagName="tr"
            sortFields=sortFields
            currentSortField=sortField
            currentSortDirection=sortDirection
            onChangeSortField=(action (mut sortField))
            onChangeSortDirection=(action (mut sortDirection))
          as |sortFieldComponent sortField|
          }}
            <th>
              {{sortFieldComponent}}
            </th>
            {{#if (eq sortField 'order_number')}}
              <th></th>
              <th></th>
            {{else if (eq sortField 'status_id')}}
              <th></th>
            {{/if}}
          {{/sort-fields}}
        </thead>
        <tbody>
          {{#each filteredOrders.content as |order|}}
            <tr>
              <td><a href="{{href-to "admin.post" order.id}}">{{order.orderNumber}}</a></td>
              <td>
                {{#if order.orderPath}}
                  {{#if (eq order.orderPath 'LibrisEnduser')}}
                    <span class="badge badge-info">{{order.orderPath}}</span>
                  {{else}}
                    <span class="badge badge-secondary">{{order.orderPath}}</span>
                  {{/if}}
                {{/if}}
                {{#if order.stickyNoteId}}
                  {{!TODO: class sticky-note not used}}
                  <div class="sticky-note">
                    <span class="badge badge-primary">
                      <i class="far fa-file-alt"></i>
                      {{#bs-tooltip placement="right"}}
                        {{#if order.stickyNoteSubject}}
                          <h4>{{order.stickyNoteSubject}}</h4>
                        {{/if}}
                          {{#if order.stickyNoteMessage}}
                          <p>
                            {{order.stickyNoteMessage}}
                          </p>
                        {{/if}}
                      {{/bs-tooltip}}
                    </span>
                  </div>
                {{/if}}
              </td>
              <td></td>
              <td>{{trim order.name}}</td>
              {{!TODO: class order-type not currently used}}
              <td class="order-type">{{get (find-by "id" order.orderTypeId orderTypes) "nameSv"}}</td>
              <td>{{trim order.title}}</td>
              <td>{{get (find-by "id" order.statusId statusGroups) "nameSv"}}</td>
              <td>
                {{order-user-switcher
                  setOrderAssignedUserPromise=setOrderAssignedUserPromise
                  orderId=order.id
                  assignedUsername=(get (find-by "id" order.userId users) "xkonto")
                  assignedUserId=order.userId
                  loggedInUsername=session.data.authenticated.username
                  loggedInUserId=session.data.authenticated.userid
                }}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</div>
{{#if (gt filteredOrders.content.meta.pagination.pages 1)}}
  <div class="row">
    <div class="col-12">
      {{bs4-paginator
        navAreaLabelText="Orders pagination"
        previousText="Foregaende"
        nextText="Nasta"
        currentPage=filteredOrders.content.meta.pagination.page
        totalPages=filteredOrders.content.meta.pagination.pages
        currentPageItemsCount=3
        firstPageItemsCount=2
        lastPageItemsCount=2
        pageChanged=(action (mut currentPage))
      }}
      {{! TODO rename => onPageChange}}
    </div>
  </div>
{{/if}}
{{outlet}}
