<div class="row">
  <div class="col-12">
    {{#bs-form model=this formLayout="horizontal" as |form|}}
      {{#form.element
        label="Bibliotek"
        controlType="power-select"
        options=locations
        value=(find-by "id" locationId locations)
        onChange=(action (mut locationId) value="id")
      as |el|
      }}
        {{#el.control
          searchField="nameSv"
          searchEnabled=true
          searchPlaceholder="Type your name"
        as |location|
        }}
          {{location.nameSv}}
        {{/el.control}}
      {{/form.element}}

      {{#form.element
        label="Statusgrupp"
        controlType="power-select"
        options=statusGroups
        value=(find-by "label" statusGroupLabel statusGroups)
        onChange=(action (mut statusGroupLabel) value="label")
      as |el|
      }}
        {{#el.control
          searchField="nameSv"
          searchEnabled=true
          searchPlaceholder="Type your name"
        as |statusGroup|
        }}
          {{statusGroup.nameSv}}
        {{/el.control}}
      {{/form.element}}

      {{form.element
        label="Sok i fritext"
        controlType="text"
        value=searchTerms
        onChange=(action "setSearchTerms")
      }}

      {{#form.element
        label="Bestallningstyp"
        controlType="power-select"
        options=orderTypes
        value=(find-by "id" orderTypeId orderTypes)
        onChange=(action (mut orderTypeId) value="id")
      as |el|
      }}
        {{#el.control
          searchField="nameSv"
          searchEnabled=true
          searchPlaceholder="Type your name"
        as |orderType|
        }}
          {{orderType.nameSv}}
        {{/el.control}}
      {{/form.element}}

      {{form.element
        label="Mina ordrar"
        controlType="checkbox"
        value=myOrdersFilterActive
        onChange=(action "setMyOrders")
      }}

      {{#bs-button onClick=(action "resetFilters")}}
        Aterstall filter
      {{/bs-button}}

      {{#bs-button active=filtersExpanded onClick=(toggle "filtersExpanded" this)}}
        {{#if filtersExpanded}}
          Färre filter
        {{else}}
          Fler filter
        {{/if}}
      {{/bs-button}}
      {{#bs-collapse collapsed=(not filtersExpanded)}}

        {{#form.element
          label="Leveransstalle"
          controlType="power-select"
          options=deliverySources
          value=(find-by "label" deliverySourceLabel deliverySources)
          onChange=(action (mut deliverySourceLabel) value="label")

          as |el|
          }}
          {{#el.control
            searchField="name"
            searchEnabled=true
            searchPlaceholder="Type your name"
          as |deliverySource|
          }}
            {{deliverySource.name}}
          {{/el.control}}
        {{/form.element}}

        {{#form.element
          label="Arkiverade & Aktiva"
          controlType="power-select"
          options=isArchivedOptions
          value=(find-by "value" isArchivedOptionValue isArchivedOptions)
          onChange=(action (mut isArchivedOptionValue) value="value")
        as |el|
        }}
          {{#el.control
            searchEnabled=false
          as |option|
          }}
            {{option.label}}
          {{/el.control}}
        {{/form.element}}

        {{form.element
          label="Skall faktureras"
          controlType="checkbox"
          value=toBeInvoiced
          onChange=(action "setToBeInvoiced")
        }}

      {{/bs-collapse}}
    {{/bs-form}}
  </div>
</div>
{{#if filteredOrders.isFulfilled}}
  <div class="row">
    <div class="col-12">
      Fjärrkontrollen hittade <strong>{{filteredOrders.content.meta.query.total}}</strong> ordrar
    </div>
  </div>

  {{#if (gt filteredOrders.content.meta.pagination.pages 1)}}
    {{bs4-paginator
      navAreaLabelText="Orders pagination"
      previousText="Foregaende"
      nextText="Nasta"
      currentPage=filteredOrders.content.meta.pagination.page
      totalPages=filteredOrders.content.meta.pagination.pages
      currentPageItemsCount=3
      firstPageItemsCount=2
      lastPageItemsCount=2
      pageChanged=(action (mut currentPage))
    }}
    {{! TODO rename => onPageChange}}
  {{/if}}
{{/if}}
<div class="row">
  <div class="col-12">
    <ul>
      {{#if filteredOrders.isFulfilled}}
        {{#each filteredOrders.content as |order|}}
          <li>{{order.title}}</li>
        {{/each}}
      {{/if}}
    </ul>
  </div>
</div>
{{outlet}}
