{{#bs-navbar class="mb-4" toggleBreakpoint="sm" as |navbar|}}
  <a class="navbar-brand" href={{href-to "admin"}}>Fjärrkontrollen</a>
  {{navbar.toggle}}
  {{#navbar.content}}
    {{!perhaps should be just button, nav is semantically confusing}}
    {{#navbar.nav class="flex-grow-1" as |nav| }}
      {{#nav.item}}
        {{#bs-button type="link" onClick=(action (mut isShowingScanModal) true)}}
          <i class="fas fa-barcode"></i> Scanna streckkod
        {{/bs-button}}
      {{/nav.item}}
      {{#nav.item}}
        {{#bs-button type="link" onClick=(action (mut isShowingSetDeliveredScanModal) true)}}
          <i class="fa fa-paper-plane"></i> Skicka meddelande om kopior att hämta
        {{/bs-button}}
      {{/nav.item}}
    {{/navbar.nav}}
     <a class="export-link" href="{{exportUrl}}"><i class="fa fa-table"></i> Ladda ner till Excel</a>
     <span class="p-2 user-name">{{activeUserSirName}}{{affiliation}}</span>
    {{#bs-button type="link" onClick=(action "logout")}}Logga ut{{/bs-button}}
  {{/navbar.content}}
{{/bs-navbar}}
<div class="container-fluid">
  {{scan-order-modal
    title="Scanna streckkod på ordern"
    onSubmit=(action "scan")
    open=isShowingScanModal
  }}
  {{scan-order-modal
    title="Ändra orderstatus till levererad"
    onSubmit=(action "scanDelivered")
    open=isShowingSetDeliveredScanModal
  }}

  {{user-setting-modal
    title="Inställningar"
    managingGroups=managingGroupOptions
    pickupLocations=pickupLocationOptions
    loggedInUser=loggedInUser
    onSubmit=(action "scanDelivered")
    open=isShowingUserSettingModal
  }}

  {{liquid-outlet}}
</div>
