<div id="global-spinner" class="{{if isLoading "d-block" "d-none"}}">
  <i class="fas fa-spinner fa-spin"></i>
</div>
{{#bs-navbar class="mb-4" toggleBreakpoint="sm" as |navbar|}}
  <a class="navbar-brand" href={{href-to "admin"}}>Fjärrkontrollen</a>
  {{navbar.toggle}}
  {{#navbar.content}}
    {{!perhaps should be just button, nav is semantically confusing}}
    {{#navbar.nav class="flex-grow-1" as |nav| }}
      {{#nav.item}}
        {{#bs-button type="link" onClick=(action "showScanModal")}}
          <i class="fas fa-barcode"></i> Scanna streckkod
        {{/bs-button}}
      {{/nav.item}}
    {{/navbar.nav}}
    <span class="p-2 user-name">{{session.data.authenticated.name}}</span>
    {{#bs-button type="link" onClick=(action "logout")}}Logga ut{{/bs-button}}
  {{/navbar.content}}
{{/bs-navbar}}
<div class="container-fluid">
  {{#bs-modal
    open=isShowingScanModal
    onHide=(action (mut isShowingScanModal) false)
      as |modal|
  }}
    {{#modal.header}}
      <h4 class="modal-title">Scanna streckkod på ordern</h4>
    {{/modal.header}}
    {{#with (changeset barcodeData BarcodeDataValidations) as |changeset|}}
      {{#modal.body}}
        {{#if barcodeError}}
          {{#bs-alert type="danger" dismissible=false}}
            {{barcodeError}}
          {{/bs-alert}}
        {{/if}}
        {{#bs-form
          model=changeset
          onSubmit=(action "scan" changeset)
          isSubmitting=isBarcodeFormSubmitting
        as |form|
        }}
          {{form.element
            controlType="text"
            label="Streckkod"
            placeholder="Scanna streckkod (exempel: 2014052015160216)"
            property="barcode"
          }}
        {{/bs-form}}
      {{/modal.body}}
      {{#modal.footer}}
        {{#bs-button onClick=(action modal.close) type="secondary"}}Avbryt{{/bs-button}}
        {{#bs-button
          onClick=(action modal.submit)
          type="success"
          disabled=(or isBarcodeFormSubmitting changeset.isInvalid)
        }}Skicka{{/bs-button}}
      {{/modal.footer}}
    {{/with}}
  {{/bs-modal}}
  {{liquid-outlet}}
</div>
